#map {
  height: 100vh;
  width: 100vw;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  background-image: url("images/backgrounsgradient-01.png");
}

#Camera {
  height: 1px;
  width: 1px;
}

.hide {
  display: none;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  line-height: 60px;
  background-color: #e77051;
  border-radius: 10px 10px 0px 0px;
  z-index: 2;
}

.footer .nav{
  display: flex;
  justify-content: center;
}

.footer .nav img{
  width: 55px;
}


.btn-primary {
  background-color: #1b3642;
  border: none;
  color: #e77051;
}

.header {
  background-color: white;
  padding: 1em 0 1em 0em;
  text-align: center;
  max-width: 100vw;
  border-radius: 0px 0px 30px 30px;
}

.header h1 {
  margin-top: 0px;
  font-size: 1em;
}

.hidden{
  visibility:hidden;
  display: none;
}

#startGame {
  margin: auto;
  max-width: 200px;
  border-radius: 20px 20px 20px 20px;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.36); 
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.36);
}

.rfont {
  background-color: white;
  padding: 1em 0 1em 0em;
  text-align: center;
  max-width: 100vw;
  border-radius: 0px 0px 80px 80px;
  font-family: "Roboto", sans-serif;
}

#clue {
  text-align: center;
}

#clue .modal-content {
  border-radius: 20px;
}

#clue .modal-header {
  border-bottom: none;
}

#clue .modal-header h5 {
  margin: auto;
}
.container-fluid {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-image: url("/grad-3-01.png");
}
.card {
  background-color: white;
  border-radius: 20px;
  border-color: #e77051;
  border-style: solid;
  border-width: medium;
  display: flex;
  justify-content: center;
  align-items: center;
}

.badgeName {
  color: #ce7861;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.card-header {
  font-family: "Roboto", sans-serif;
  background-color: white;
  border-color: white;
}

.badgeName {
  color: #ce7861;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.card-header {
  font-family: "Roboto", sans-serif;
  background-color: white;
  border-color: white;
}
.badgeImage {
  width: 150px;
}
.accordion-item {
  background-color: white;
  border-radius: 20px;
  border-color: #e77051;
  border-style: solid;
  border-width: medium;
  display: flex;
  justify-content: center;
  align-items: center;
}
.accordion-body {
  color: #ce7861;
  font-family: "Roboto", sans-serif;
}
.left {
  float: left;
  width: 200px;
  padding: 10px;
}
.whatBadge {
  color: #ce7861;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.level {
  color: #274654;
  font-weight: bold;
}
